@use './Calculator.scss';

body {
    background-color: #2d2d2d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    padding: 15px;

    max-width: 500px;
    height: 100vh;
}

@media screen and (max-width: 400px) {
    .container {
        justify-content: start;
    }
}
