@use './Calculator.scss';

body {
    background-color: #2d2d2d;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: auto;
    padding: 15px;

    max-width: 500px;
    height: 100vh;
}

.notification {
    margin: 0.5rem 0 !important;
    padding: 1rem;
    border-radius: 2px;

    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 400px) {
    .container {
        justify-content: start;
    }
}
